.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: 1px solid #f2f2f2;
    border-radius: 3px;
    width: 372px;
    padding: 12px;
    margin-bottom: 24px;
    background-color: rgba(242, 242, 242, 0.3);
}

.group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.label {
    display: flex;
    flex-direction: column;
    width: 300px;
    font-size: 18px;
    padding: 8px;
    color: #f2f2f2;
}

.input {
    width: 300px;
    padding: 4px 4px;
    margin-bottom: 16px;
}

.input:focus {
    outline-color: lightskyblue;
}

.btn {

    padding: 8px 16px;
    margin-bottom: 12px;
}

.btn:hover {
    background-color: lightgray;
}
.btn:active {
    background-color: gray;
    color: white;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 0 0 5px black;
    transform: translateY(2px);
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.error {
    font-size: 12px;
    color: red;
}